<div class="main">
  <h1>Mail Text</h1>
  <mat-tab-group>
    <mat-tab label="JP">
      <form class="form" [formGroup]="dataJP">
        <h2>Subject</h2>
        <mat-form-field class="large-width">
          <mat-label>subject</mat-label>
          <label>
            <textarea matInput placeholder="text ....." formControlName="subject" required></textarea>
          </label>
        </mat-form-field>
        <h2>Question</h2>
        <mat-form-field class="large-width">
          <mat-label>question</mat-label>
          <label>
            <textarea matInput rows="10" placeholder="text ....." formControlName="question" required></textarea>
          </label>
        </mat-form-field>
        <h2>Agreement</h2>
        <mat-form-field class="large-width">
          <mat-label>agreement mail text</mat-label>
          <label>
            <textarea matInput rows="10" placeholder="text ....." formControlName="agreement" required></textarea>
          </label>
        </mat-form-field>
        <h2>Contract1</h2>
        <mat-form-field class="large-width">
          <mat-label>contract1 mail text</mat-label>
          <label>
            <textarea matInput rows="10" placeholder="text ....." formControlName="contract1" required></textarea>
          </label>
        </mat-form-field>
        <h2>Contract2</h2>
        <mat-form-field class="large-width">
          <mat-label>contract2 mail text</mat-label>
          <label>
            <textarea matInput rows="10" placeholder="text ....." formControlName="contract2" required></textarea>
          </label>
        </mat-form-field>
        <h2>Contact</h2>
        <mat-form-field class="large-width">
          <mat-label>contact mail text</mat-label>
          <label>
            <textarea matInput rows="10" placeholder="text ....." formControlName="contact" required></textarea>
          </label>
        </mat-form-field>
        <h2>Open(WebPage)</h2>
        <mat-form-field class="large-width">
          <mat-label>contact mail text</mat-label>
          <label>
            <textarea matInput rows="10" placeholder="text ....." formControlName="open" required></textarea>
          </label>
        </mat-form-field>
        <h2>Open(Airmail)</h2>
        <mat-form-field class="large-width">
          <mat-label>contact mail text</mat-label>
          <label>
            <textarea matInput rows="10" placeholder="text ....." formControlName="openAirmail" required></textarea>
          </label>
        </mat-form-field>
      </form>
      <br>
      <br>
      <button mat-raised-button (click)="registrationJPMailData()">Update</button>
      <br><br>
    </mat-tab>
    <mat-tab label="EN">
      <form class="form" [formGroup]="dataEN">
        <h2>Subject</h2>
        <mat-form-field class="large-width">
          <mat-label>subject</mat-label>
          <label>
            <textarea matInput placeholder="text ....." formControlName="subject" required></textarea>
          </label>
        </mat-form-field>
        <h2>Question</h2>
        <mat-form-field class="large-width">
          <mat-label>question</mat-label>
          <label>
            <textarea matInput rows="10" placeholder="text ....." formControlName="question" required></textarea>
          </label>
        </mat-form-field>
        <h2>Agreement</h2>
        <mat-form-field class="large-width">
          <mat-label>agreement mail text</mat-label>
          <label>
            <textarea matInput rows="10" placeholder="text ....." formControlName="agreement" required></textarea>
          </label>
        </mat-form-field>
        <h2>Contract1</h2>
        <mat-form-field class="large-width">
          <mat-label>contract1 mail text</mat-label>
          <label>
            <textarea matInput rows="10" placeholder="text ....." formControlName="contract1" required></textarea>
          </label>
        </mat-form-field>
        <h2>Contract2</h2>
        <mat-form-field class="large-width">
          <mat-label>contract2 mail text</mat-label>
          <label>
            <textarea matInput rows="10" placeholder="text ....." formControlName="contract2" required></textarea>
          </label>
        </mat-form-field>
        <h2>Contact</h2>
        <mat-form-field class="large-width">
          <mat-label>contact mail text</mat-label>
          <label>
            <textarea matInput rows="10" placeholder="text ....." formControlName="contact" required></textarea>
          </label>
        </mat-form-field>
        <h2>Open(WebPage)</h2>
        <mat-form-field class="large-width">
          <mat-label>contact mail text</mat-label>
          <label>
            <textarea matInput rows="10" placeholder="text ....." formControlName="open" required></textarea>
          </label>
        </mat-form-field>
        <h2>Open(Airmail)</h2>
        <mat-form-field class="large-width">
          <mat-label>contact mail text</mat-label>
          <label>
            <textarea matInput rows="10" placeholder="text ....." formControlName="openAirmail" required></textarea>
          </label>
        </mat-form-field>
      </form>
      <br>
      <br>
      <button mat-raised-button (click)="registrationENMailData()">Update</button>
      <br><br>
    </mat-tab>
  </mat-tab-group>
  <br>
  <br>
  <br>
</div>
