<div class="main">
  <h1>NOC Router</h1>
  <mat-tab-group>
    <mat-tab label="一覧">
      <ng-container *ngFor="let d of routers">
        <mat-card class="card">
          <mat-card-header>
            <mat-card-title>{{d.host}}</mat-card-title>
            <mat-card-subtitle>ID:{{d.ID}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <mat-card-subtitle>
              <p>{{d.address}}</p>
            </mat-card-subtitle>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="detailPage(d.ID)">Detail Page</button>
            <button mat-button color="warn" (click)="delete(d.ID)">Delete</button>
          </mat-card-actions>
        </mat-card>
        <br>
      </ng-container>
    </mat-tab>
    <mat-tab label="新規追加">
      <br>
      <form [formGroup]="routerInput">
        <mat-form-field appearance="fill">
          <mat-label>NOC</mat-label>
          <input matInput type="number" formControlName="noc">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Host</mat-label>
          <input matInput type="text" formControlName="hostname">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Address</mat-label>
          <input matInput type="text" formControlName="address">
        </mat-form-field>
        <br>
        <h3>各種設定</h3>
        <mat-checkbox formControlName="enable">Enable</mat-checkbox>
        &nbsp;
        <br>
      </form>
      <br>
      <button mat-button (click)="add()">追加</button>
      <br>
    </mat-tab>
  </mat-tab-group>
</div>
