<div class="main">
  <h1>NOC</h1>
  <mat-tab-group>
    <mat-tab label="一覧">
      <ng-container *ngFor="let d of noc">
        <mat-card class="card">
          <mat-card-header>
            <mat-card-title>{{d.name}}</mat-card-title>
            <mat-card-subtitle>ID:{{d.ID}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <mat-card-subtitle>
              <p>{{d.Location}}</p>
              <p>BandWidth: {{d.bandwidth}}</p>
            </mat-card-subtitle>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="detailPage(d.ID)">Detail Page</button>
            <button mat-button color="warn" (click)="delete(d.ID)">Delete</button>
          </mat-card-actions>
        </mat-card>
        <br>
      </ng-container>
    </mat-tab>
    <mat-tab label="新規追加">
      <br>
      <form [formGroup]="nocInput">
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput type="text" formControlName="name">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Location</mat-label>
          <input matInput type="text" formControlName="location">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Bandwidth</mat-label>
          <input matInput type="text" formControlName="bandwidth">
        </mat-form-field>
        <br>
        <h4>コメント</h4>
        <mat-form-field class="textarea-form">
          <textarea matInput rows="10" placeholder="Ex. It makes me feel..." formControlName="comment"></textarea>
        </mat-form-field>
        <br>
        <h3>各種設定</h3>
        <mat-checkbox formControlName="enable">Enable</mat-checkbox>
        &nbsp;
        <br>
      </form>
      <br>
      <button mat-button (click)="add()">追加</button>
      <br>
    </mat-tab>
  </mat-tab-group>
</div>
