<div class="main">
  <h2>ID: {{id}}</h2>
  <ng-container *ngIf="loading">
    <h1>読み込み中...</h1>
  </ng-container>
  <ng-container *ngIf="!loading">
    <mat-tab-group>
      <mat-tab label="情報">
        <br>
        <table>
          <tr>
            <th colspan="2">Connection Information</th>
          </tr>
          <tr>
            <th>Create Date</th>
            <td>{{notice.CreatedAt}}</td>
          </tr>
          <tr>
            <th>Update Date</th>
            <td>{{notice.UpdatedAt}}</td>
          </tr>
          <tr>
            <th>StartTime</th>
            <td>{{notice.start_time}}</td>
          </tr>
          <tr>
            <th>EndTime</th>
            <td>{{notice.end_time}}</td>
          </tr>
          <tr>
            <th>Title</th>
            <td>{{notice.title}}</td>
          </tr>
        </table>
        <br>
        <table>
          <tr>
            <th colspan="4">Connection Information</th>
          </tr>
          <tr>
            <th>重要</th>
            <td>{{notice.important}}</td>
            <th>障害</th>
            <td>{{notice.fault}}</td>
          </tr>
          <tr>
            <th>全員(ユーザ全員に広告)</th>
            <td>{{notice.everyone}}</td>
            <th>情報</th>
            <td>{{notice.info}}</td>
          </tr>
        </table>
        <br>
        <mat-accordion>
          <mat-expansion-panel class="card">
            <mat-expansion-panel-header>
              <mat-panel-title>本文</mat-panel-title>
            </mat-expansion-panel-header>
            <p>{{notice.data}}</p>
          </mat-expansion-panel>
        </mat-accordion>
        <br>
      </mat-tab>
      <mat-tab label="設定">
        <ng-template matTabContent>
          <br>
          <div class="main">
            <p>Updateしたいデータを記入することで、その部分のみが更新されます。</p>
            <form [formGroup]="noticeInput">
              <mat-form-field appearance="fill" class="half-width">
                <mat-label>タイトル</mat-label>
                <input matInput type="text" formControlName="title">
              </mat-form-field>
              <br>
              <mat-form-field appearance="fill" class="textarea-form">
                <mat-label>本文</mat-label>
                <textarea matInput cols="40" rows="20" placeholder="" type="text" formControlName="data"></textarea>
              </mat-form-field>
              <br>
              <br>
              <h2>掲示時期</h2>
              <mat-form-field>
                <input matInput [ngxMatDatetimePicker]="pickerStart" placeholder="掲示開始日"
                       [formControl]="dateStartControl" [min]="minDate" [max]="maxDate">
                <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                <ngx-mat-datetime-picker #pickerStart [showSpinners]="showSpinners" [showSeconds]="showSeconds"
                                         [stepHour]="stepHour" [stepMinute]="stepMinute" [stepSecond]="stepSecond"
                                         [touchUi]="touchUI"
                                         [color]="color" [enableMeridian]="enableMeridian">
                </ngx-mat-datetime-picker>
              </mat-form-field>
              <br>
              <mat-checkbox [(ngModel)]="endTimeForever" [ngModelOptions]="{standalone: true}">無期限</mat-checkbox>
              <br>
              <ng-container *ngIf="!endTimeForever">
                <mat-form-field>
                  <input matInput [ngxMatDatetimePicker]="pickerEnd" placeholder="掲示終了日"
                         [formControl]="dateEndControl" [min]="minDate" [max]="maxDate">
                  <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
                  <ngx-mat-datetime-picker #pickerEnd [showSpinners]="showSpinners" [showSeconds]="showSeconds"
                                           [stepHour]="stepHour" [stepMinute]="stepMinute" [stepSecond]="stepSecond"
                                           [touchUi]="touchUI"
                                           [color]="color" [enableMeridian]="enableMeridian">
                  </ngx-mat-datetime-picker>
                </mat-form-field>
              </ng-container>
              <br>
              <h2>掲示先</h2>
              <mat-checkbox formControlName="everyone">全体に掲示</mat-checkbox>
              <br>
              <mat-form-field appearance="fill">
                <mat-label>User ID</mat-label>
                <mat-select formControlName="user_id" required>
                  <ng-container *ngFor="let user of this.users">
                    <mat-option [value]="user.ID">{{user.ID}}: {{user.name}}({{user.org}})</mat-option>
                  </ng-container>
                </mat-select>
              </mat-form-field>
              &nbsp;
              <mat-form-field appearance="fill">
                <mat-label>Group ID</mat-label>
                <mat-select formControlName="group_id" required>
                  <ng-container *ngFor="let group of this.groups">
                    <mat-option [value]="group.ID">{{group.ID}}:({{group.org}})</mat-option>
                  </ng-container>
                </mat-select>
              </mat-form-field>
              &nbsp;
              <mat-form-field appearance="fill">
                <mat-label>NOC</mat-label>
                <mat-select formControlName="noc_id" required>
                  <ng-container *ngFor="let noc of this.nocs">
                    <mat-option [value]="noc.ID">{{noc.ID}}:({{noc.name}})</mat-option>
                  </ng-container>
                </mat-select>
              </mat-form-field>
              <br>
              <h2>タグ</h2>
              <mat-checkbox formControlName="important">重要</mat-checkbox>
              &nbsp;
              <mat-checkbox formControlName="fault">障害</mat-checkbox>
              &nbsp;
              <mat-checkbox formControlName="info">情報</mat-checkbox>
            </form>
            <br>
            <button mat-stroked-button color="primary" (click)="update()">Update</button>
            <br>
          </div>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </ng-container>
  <br>
</div>
