<div class="main">
  <h1 mat-dialog-title>技術担当者(追加/変更/削除)</h1>
  <br>
  <mat-form-field appearance="fill" [style.width.px]=500>
    <mat-label>技術担当者の選択</mat-label>
    <mat-select (selectionChange)="change($event)" required>
      <ng-container *ngFor="let tmpJpnicTechUser of this.jpnicTechUser">
        <mat-option [value]="tmpJpnicTechUser">
          {{tmpJpnicTechUser.org}}<b>({{tmpJpnicTechUser.name}})</b>
        </mat-option>
      </ng-container>
      <mat-option [value]="0">なし<b>新規追加</b></mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-card>
    <form [formGroup]="jpnicTech">
      <mat-form-field appearance="fill">
        <mat-label>GroupName/個人名 (必須)</mat-label>
        <input matInput [type]="hide ? 'name' : 'text'" formControlName="name">
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>GroupName/個人名(English) (必須)</mat-label>
        <input matInput [type]="hide ? 'name_en' : 'text'" formControlName="name_en">
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>メールアドレス (必須)</mat-label>
        <input matInput [type]="hide ? 'mail' : 'email'" formControlName="mail">
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>組織名 (必須)</mat-label>
        <input matInput [type]="hide ? 'org' : 'text'" formControlName="org">
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>組織名(English) (必須)</mat-label>
        <input matInput [type]="hide ? 'org_en' : 'text'" formControlName="org_en">
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>郵便番号 (必須)</mat-label>
        <input matInput [type]="hide ? 'postcode' : 'text'" formControlName="postcode">
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill" [style.width.px]=500>
        <mat-label>住所 (必須)</mat-label>
        <input matInput [type]="hide ? 'address' : 'text'" formControlName="address">
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill" [style.width.px]=500>
        <mat-label>住所(English) (必須)</mat-label>
        <input matInput [type]="hide ? 'address_en' : 'text'" formControlName="address_en">
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>部署名</mat-label>
        <input matInput [type]="hide ? 'dept' : 'text'" formControlName="dept">
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>部署名(English)</mat-label>
        <input matInput [type]="hide ? 'dept_en' : 'text'" formControlName="dept_en">
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>電話番号 (必須)</mat-label>
        <input matInput [type]="hide ? 'tel' : 'text'" formControlName="tel">
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>FAX番号</mat-label>
        <input matInput [type]="hide ? 'fax' : 'text'" formControlName="fax">
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>居住国 (必須)</mat-label>
        <input matInput [type]="hide ? 'country' : 'text'" formControlName="country">
      </mat-form-field>
      <br>
    </form>
  </mat-card>
  <br>
  <button mat-raised-button *ngIf="id === 0" (click)="createJPNICTech()">登録</button>
  <button mat-raised-button *ngIf="id !== 0" (click)="updateJPNICTech()">更新</button>
  <button mat-raised-button color="warn" *ngIf="id !== 0" (click)="deleteJPNICTech()">削除</button>
  <br>
  <br>
</div>
