<div class="main">
  <h1 mat-dialog-title>サービス開通処理</h1>
  <h2>{{serviceCode}}</h2>
  <table>
    <tr>
      <th colspan="4">サービスの開通状況</th>
    </tr>
    <tr>
      <th>サービスコード</th>
      <th>状況</th>
      <th>ASN</th>
      <th>機能</th>
    </tr>
    <tr>
      <td>{{serviceCode}}</td>
      <td>
        <mat-chip-list>
          <ng-container *ngIf="data.service.open">
            <mat-chip color="primary" selected>開通</mat-chip>
          </ng-container>
          <ng-container *ngIf="!data.service.open">
            <mat-chip color="warn" selected>未開通</mat-chip>
          </ng-container>
        </mat-chip-list>
      </td>
      <td>
        <form>
          <mat-form-field appearance="fill">
            <mat-label>ASN</mat-label>
            <input matInput type="number" [formControl]="asn">
          </mat-form-field>
        </form>
      </td>
      <td>
        <ng-container *ngIf="!data.service.open">
          <button mat-raised-button color="primary" (click)="requestServiceOpen(true)">開通</button>
        </ng-container>
        <ng-container *ngIf="data.service.open">
          <button mat-raised-button color="warn" (click)="requestServiceOpen(false)">未開通</button>
        </ng-container>
        &nbsp;
        <button mat-raised-button (click)="requestService()">情報の更新</button>
      </td>
    </tr>
  </table>
  <br>
  <table>
    <tr>
      <th colspan="4">IPアドレスの開通状況</th>
    </tr>
    <tr>
      <th>IPアドレス/Subnet</th>
      <th>ネットワーク名</th>
      <th>状況</th>
      <th>機能</th>
    </tr>
    <ng-container *ngFor="let tmpIP of ips.controls; let i = index">
      <tr>
        <td>
          <form>
            <ng-container [formGroup]="tmpIP">
              <mat-form-field appearance="fill">
                <mat-label>IP/Subnet</mat-label>
                <input matInput type="text" formControlName="ip">
              </mat-form-field>
            </ng-container>
          </form>
        </td>
        <td>{{tmpIP.value.name}}</td>
        <td>
          <mat-chip-list>
            <ng-container *ngIf="tmpIP.value.open">
              <mat-chip color="primary" selected>開通</mat-chip>
            </ng-container>
            <ng-container *ngIf="!tmpIP.value.open">
              <mat-chip color="warn" selected>未開通</mat-chip>
            </ng-container>
          </mat-chip-list>
        </td>
        <td>
          <ng-container *ngIf="!tmpIP.value.open">
            <button mat-raised-button color="primary" (click)="requestIPOpen(tmpIP.value.id,tmpIP.value.ip,true)">
              開通
            </button>
          </ng-container>
          <ng-container *ngIf="tmpIP.value.open">
            <button mat-raised-button color="warn" (click)="requestIPOpen(tmpIP.value.id,tmpIP.value.ip,false)">
              未開通
            </button>
          </ng-container>
          &nbsp;
          <button mat-raised-button (click)="requestIP(tmpIP.value.id,tmpIP.value.ip)">情報の更新</button>
        </td>
      </tr>
    </ng-container>
  </table>
  <br>
  <ng-container *ngFor="let connection of connections.controls; let i = index">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{serviceCode}}-{{connection.value.type}}{{('000' + connection.value.number).slice(-3)}}
            <br>
          </mat-panel-title>
          <!--        <mat-card-subtitle>ID:{{connection.ID}}&nbsp;&nbsp;&nbsp;</mat-card-subtitle>-->
          <mat-panel-description>
            <mat-chip-list>
              <mat-chip-list>
                <ng-container *ngIf="connection.value.open">
                  <mat-chip color="primary" selected>開通</mat-chip>
                </ng-container>
                <ng-container *ngIf="!connection.value.open">
                  <mat-chip color="warn" selected>未開通</mat-chip>
                </ng-container>
              </mat-chip-list>
            </mat-chip-list>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <form [formGroup]="connection">
          <mat-form-field appearance="fill">
            <mat-label>L3 IPv4(HomeNOC側)</mat-label>
            <input matInput type="text" formControlName="link_v4_our">
          </mat-form-field>
          &nbsp;
          <mat-form-field appearance="fill">
            <mat-label>L3 IPv4(ユーザ側)</mat-label>
            <input matInput type="text" formControlName="link_v4_your">
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>L3 IPv6(HomeNOC側)</mat-label>
            <input matInput type="text" formControlName="link_v6_our">
          </mat-form-field>
          &nbsp;
          <mat-form-field appearance="fill">
            <mat-label>L3 IPv6(ユーザ側)</mat-label>
            <input matInput type="text" formControlName="link_v6_your">
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill" [style.width.px]=400>
            <mat-label>対向終端アドレス(基本変更しないで！！)</mat-label>
            <input matInput type="text" formControlName="term_ip">
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>収容RouterID (BGP)</mat-label>
            <mat-select formControlName="bgp_router_id" required>
              <ng-container *ngFor="let router of this.bgpRouters">
                <mat-option [value]="router.ID">{{router.hostname}}</mat-option>
              </ng-container>
              <mat-option [value]="0">なし<b>(初期値0)</b></mat-option>
            </mat-select>
          </mat-form-field>
          &nbsp;
          <mat-form-field appearance="fill" [style.width.px]=500>
            <mat-label>トンネルエンドポイントルータ (CrossConnectの場合はそのままで!!)</mat-label>
            <mat-select formControlName="tunnel_endpoint_router_ip_id" required>
              <ng-container *ngFor="let tunnelEndPointRouterIP of this.templateTunnelEndPointRouterIP">
                <mat-option [value]="tunnelEndPointRouterIP.ID">
                  {{tunnelEndPointRouterIP.hostname}}<b>({{tunnelEndPointRouterIP.ip}})</b>
                </mat-option>
              </ng-container>
              <mat-option [value]="0">なし<b>(初期値0)</b></mat-option>
            </mat-select>
          </mat-form-field>
          <br>
        </form>
        <br>
        <ng-container *ngIf="!connection.value.open">
          <button mat-raised-button color="primary" (click)="requestConnectionOpen(i,true)">開通</button>
        </ng-container>
        <ng-container *ngIf="connection.value.open">
          <button mat-raised-button color="warn" (click)="requestConnectionOpen(i,false)">未開通</button>
        </ng-container>
        &nbsp;
        <button mat-raised-button (click)="requestConnection(i)">情報の更新</button>
        <br>
      </mat-expansion-panel>
    </mat-accordion>
    <br>
  </ng-container>
</div>
