<div class="main">

  <ng-container *ngIf="loading">
    <h1>読み込み中...</h1>
  </ng-container>
  <ng-container *ngIf="!loading">
    <h2>      {{serviceCode}}    </h2>
    <br>
    <button mat-raised-button color="primary" (click)="openProcess()">開通/未開通処理</button>
    <button mat-raised-button (click)="openIP()">IPアドレス(追加/編集)</button>
    <button mat-raised-button (click)="openJPNICAdmin()">管理者連絡窓口(編集)</button>
    <button mat-raised-button (click)="openJPNICTech()">技術連絡担当者(追加/編集)</button>
    <br>
    <br>
    <ng-container *ngIf="!service.add_allow">
      <button mat-raised-button color="primary" (click)="requestServiceRequestAddAllow(true)">接続追加を許可</button>
    </ng-container>
    <ng-container *ngIf="service.add_allow">
      <button mat-raised-button color="warn" (click)="requestServiceRequestAddAllow(false)">接続追加を拒否</button>
    </ng-container>
    <ng-container *ngIf="service.lock">
      <button mat-raised-button color="primary" (click)="requestServiceRequestLock(false)">編集を許可</button>
    </ng-container>
    <ng-container *ngIf="!service.lock">
      <button mat-raised-button color="warn" (click)="requestServiceRequestLock(true)">編集を拒否</button>
    </ng-container>
    <br>
    <br>
    <mat-tab-group>
      <mat-tab label="情報">
        <br>
        <table>
          <tr>
            <th colspan="3">Service Information</th>
          </tr>
          <tr>
            <th>User Create Date</th>
            <td colspan="2">{{service.CreatedAt}}</td>
          </tr>
          <tr>
            <th>User Update Date</th>
            <td colspan="2">{{service.UpdatedAt}}</td>
          </tr>
          <tr>
            <th>Group ID</th>
            <td colspan="2">{{service.group_id}}</td>
          </tr>
          <tr>
            <th>ASN</th>
            <ng-container *ngIf="service.asn === 0">
              <td colspan="2">ASNが登録されていません</td>
            </ng-container>
            <ng-container *ngIf="service.asn !== 0">
              <td colspan="2">{{service.asn}}</td>
            </ng-container>
          </tr>
          <tr>
            <th>Fee(料金)</th>
            <td colspan="2">{{service.fee}}円</td>
          </tr>
          <tr>
            <th>Organization</th>
            <td colspan="2">{{service.org}}</td>
          </tr>
          <tr>
            <th>Organization(English)</th>
            <td colspan="2">{{service.org_en}}</td>
          </tr>
          <tr>
            <th>Postcode</th>
            <td colspan="2">{{service.postcode}}</td>
          </tr>
          <tr>
            <th>Address</th>
            <td colspan="2">{{service.address}}</td>
          </tr>
          <tr>
            <th>Address(English)</th>
            <td colspan="2">{{service.address_en}}</td>
          </tr>
          <tr>
            <th>Add_allow(追加許可)</th>
            <td colspan="2">{{service.add_allow}}</td>
          </tr>
          <tr>
            <th>Route_V4(経路広告方式)</th>
            <td colspan="2">{{service.route_v4}}</td>
          </tr>
          <tr>
            <th>Route_V6(経路広告方式)</th>
            <td colspan="2">{{service.route_V6}}</td>
          </tr>
          <tr>
            <th>Open(開通)</th>
            <td colspan="2">{{service.open}}</td>
          </tr>
          <tr>
            <th>Lock(編集ロック)</th>
            <td colspan="2">{{service.lock}}</td>
          </tr>
        </table>
        <br>
        <table>
          <tr>
            <th colspan="3">アドレス広報方法</th>
          </tr>
          <tr>
            <th></th>
            <th>上り</th>
            <th>下り</th>
          </tr>
          <tr>
            <th>最大</th>
            <td>{{service.max_upstream}}</td>
            <td>{{service.max_downstream}}</td>
          </tr>
          <tr>
            <th>平均</th>
            <td>{{service.avg_upstream}}</td>
            <td>{{service.avg_downstream}}</td>
          </tr>
        </table>
        <br>
        <table>
          <tr>
            <th colspan="3">アドレス広報方法</th>
          </tr>
          <tr>
            <th></th>
            <th>IPv4</th>
            <th>IPv6</th>
          </tr>
          <tr>
            <th>Route</th>
            <td>{{service.route_v4}}</td>
            <td>{{service.route_v6}}</td>
          </tr>
        </table>
        <br>
        <table>
          <tr>
            <th colspan="4">IP Address</th>
          </tr>
          <ng-container *ngFor="let ip of service.ip">
            <tr>
              <th>Name</th>
              <td colspan="1">{{ip.name}}</td>
              <th>IP</th>
              <td colspan="1">{{ip.ip}}</td>
            </tr>
            <tr>
              <th>開始時期</th>
              <td colspan="1">{{ip.start_date}}</td>
              <th>終了時期</th>
              <ng-container *ngIf="ip.end_date === null">
                <td colspan="1">未定</td>
              </ng-container>
              <ng-container *ngIf="ip.end_date !== null">
                <td colspan="1">{{ip.end_date}}</td>
              </ng-container>
            </tr>
            <ng-container *ngIf="ip.plan.length !==0">
              <th>Plan</th>
              <td colspan="3">
                {{getPlanAfter(ip.ID)}}/{{getPlanHalfYear(ip.ID)}}/{{getPlanOneYear(ip.ID)}}
              </td>
            </ng-container>
          </ng-container>
        </table>
        <br>
        <table>
          <tr>
            <th colspan="4">管理者連絡窓口</th>
          </tr>
          <ng-container *ngIf="service.jpnic_admin !== null">
            <tr>
              <th>ID</th>
              <td colspan="3">{{service.jpnic_admin.ID}}</td>
            </tr>
            <tr>
              <th>Group Handle</th>
              <td colspan="3">{{service.jpnic_admin.group_handle}}</td>
            </tr>
            <tr>
              <th>Name</th>
              <td colspan="3">{{service.jpnic_admin.name}}</td>
            </tr>
            <tr>
              <th>Name(English)</th>
              <td colspan="3">{{service.jpnic_admin.name_en}}</td>
            </tr>
            <tr>
              <th>Org</th>
              <td colspan="3">{{service.jpnic_admin.org}}</td>
            </tr>
            <tr>
              <th>Org(English)</th>
              <td colspan="3">{{service.jpnic_admin.org_en}}</td>
            </tr>
            <tr>
              <th>PostCode</th>
              <td colspan="3">{{service.jpnic_admin.postcode}}</td>
            </tr>
            <tr>
              <th>Address</th>
              <td colspan="3">{{service.jpnic_admin.address}}</td>
            </tr>
            <tr>
              <th>Address(English)</th>
              <td colspan="3">{{service.jpnic_admin.address_en}}</td>
            </tr>
            <tr>
              <th>Department</th>
              <td colspan="3">{{service.jpnic_admin.dept}}</td>
            </tr>
            <tr>
              <th>Department(English)</th>
              <td colspan="3">{{service.jpnic_admin.dept_en}}</td>
            </tr>
            <tr>
              <th>Tel</th>
              <td colspan="3">{{service.jpnic_admin.tel}}</td>
            </tr>
            <tr>
            <tr>
              <th>Fax</th>
              <td colspan="3">{{service.jpnic_admin.fax}}</td>
            </tr>
            <tr>
              <th>Country</th>
              <td colspan="3">{{service.jpnic_admin.country}}</td>
            </tr>
          </ng-container>
        </table>
        <br>
        <ng-container *ngIf="service.jpnic_tech !== null">
          <ng-container *ngFor="let tmpJPNICTech of service.jpnic_tech">
            <table>
              <tr>
                <th colspan="4">技術連絡担当者</th>
              </tr>
              <tr>
                <th>ID</th>
                <td colspan="3">{{tmpJPNICTech.ID}}</td>
              </tr>
              <tr>
                <th>Group Handle</th>
                <td colspan="3">{{tmpJPNICTech.group_handle}}</td>
              </tr>
              <tr>
                <th>Name</th>
                <td colspan="3">{{tmpJPNICTech.name}}</td>
              </tr>
              <tr>
                <th>Name(English)</th>
                <td colspan="3">{{tmpJPNICTech.name_en}}</td>
              </tr>
              <tr>
                <th>Org</th>
                <td colspan="3">{{tmpJPNICTech.org}}</td>
              </tr>
              <tr>
                <th>Org(English)</th>
                <td colspan="3">{{tmpJPNICTech.org_en}}</td>
              </tr>
              <tr>
                <th>PostCode</th>
                <td colspan="3">{{tmpJPNICTech.postcode}}</td>
              </tr>
              <tr>
                <th>Address</th>
                <td colspan="3">{{tmpJPNICTech.address}}</td>
              </tr>
              <tr>
                <th>Address(English)</th>
                <td colspan="3">{{tmpJPNICTech.address_en}}</td>
              </tr>
              <tr>
                <th>Department</th>
                <td colspan="3">{{tmpJPNICTech.dept}}</td>
              </tr>
              <tr>
                <th>Department(English)</th>
                <td colspan="3">{{tmpJPNICTech.dept_en}}</td>
              </tr>
              <tr>
                <th>Tel</th>
                <td colspan="3">{{tmpJPNICTech.tel}}</td>
              </tr>
              <tr>
              <tr>
                <th>Fax</th>
                <td colspan="3">{{tmpJPNICTech.fax}}</td>
              </tr>
              <tr>
                <th>Country</th>
                <td colspan="3">{{tmpJPNICTech.country}}</td>
              </tr>
            </table>
          </ng-container>
        </ng-container>
        <br>
      </mat-tab>
      <mat-tab label="接続情報">
        <ng-template matTabContent>
          <br>
          <ng-container *ngFor="let d of service.connections">
            <mat-card class="card">
              <mat-card-header>
                <mat-card-title>
                  {{serviceCode}}-{{d.connection_template.type}}{{('000' + d.connection_number).slice(-3)}}
                  ({{d.noc.name}})
                </mat-card-title>
                <mat-card-subtitle>ID: <b>{{d.ID}}</b></mat-card-subtitle>
                <mat-card-subtitle>種別: <b>{{d.connection_template.name}}</b></mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <mat-card-subtitle>
                  <mat-chip-list>
                    <ng-container *ngIf="d.open">
                      <mat-chip color="primary" selected>開通</mat-chip>
                    </ng-container>
                    <ng-container *ngIf="!d.open">
                      <mat-chip color="warn" selected>未開通</mat-chip>
                    </ng-container>
                  </mat-chip-list>
                </mat-card-subtitle>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button (click)="connectionPage(d.ID)">詳細</button>
              </mat-card-actions>
            </mat-card>
            <br>
          </ng-container>
        </ng-template>
      </mat-tab>
      <mat-tab label="設定(保証しません)">
        <ng-template matTabContent>
          <br>
          <div class="main">
            <p>Updateしたいデータを記入することで、その部分のみが更新されます。</p>
            <p>この項目を設定変更する場合は、注意してください。保証しません！！！</p>
            <form [formGroup]="serviceInput">
              <mat-form-field appearance="fill">
                <mat-label>Org</mat-label>
                <input matInput type="text" formControlName="org">
              </mat-form-field>
              &nbsp;
              <mat-form-field appearance="fill">
                <mat-label>OrgEn</mat-label>
                <input matInput type="text" formControlName="org_en">
              </mat-form-field>
              <br>
              <mat-form-field appearance="fill">
                <mat-label>PostCode</mat-label>
                <input matInput type="text" formControlName="postcode">
              </mat-form-field>
              <br>
              <mat-form-field appearance="fill" [style.width.px]=500>
                <mat-label>Address</mat-label>
                <input matInput type="text" formControlName="address">
              </mat-form-field>
              <br>
              <mat-form-field appearance="fill" [style.width.px]=500>
                <mat-label>Address(English)</mat-label>
                <input matInput type="text" formControlName="address_en">
              </mat-form-field>
              <br>
              <mat-form-field appearance="fill">
                <mat-label>ASN</mat-label>
                <input matInput type="text" formControlName="asn">
              </mat-form-field>
              <br>
              <mat-form-field appearance="fill">
                <mat-label>RouteV4(経路広告方式）</mat-label>
                <input matInput type="text" formControlName="route_v4">
              </mat-form-field>
              &nbsp;
              <mat-form-field appearance="fill">
                <mat-label>RouteV6(経路広告方式）</mat-label>
                <input matInput type="text" formControlName="route_v6">
              </mat-form-field>
              <br>
              <mat-form-field appearance="fill">
                <mat-label>Group ID</mat-label>
                <input matInput type="number" formControlName="group_id">
              </mat-form-field>
              <br>
              <h3>各種設定</h3>
              <mat-checkbox formControlName="open">開通済み</mat-checkbox>
              &nbsp;
              <mat-checkbox formControlName="lock">ロック</mat-checkbox>
              &nbsp;
            </form>
            <br>
            <button mat-stroked-button color="primary" (click)="update()">Update</button>
            <br>
          </div>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </ng-container>
  <br>
</div>
