<h1 mat-dialog-title>Connection情報の追加</h1>
<mat-dialog-content>
  <h2>1. 接続情報を登録するサービスコードを選択してください。</h2>
  <mat-label>接続情報を登録するサービスコードを以下からお選びください。</mat-label>
  <p>ここに表示されていない場合は、登録が許可されていない可能性がありますのでサポートまでお問い合わせください。</p>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Service</mat-label>
    <mat-select [(ngModel)]="serviceID" name="" required>
      <ng-container *ngFor="let service of data['group'].services">
        <mat-option value="{{service.ID}}">
          {{service.group_id}}-{{service.service_template.type}}{{('000' + service.service_number).slice(-3)}}
        </mat-option>
      </ng-container>
    </mat-select>
  </mat-form-field>
  <br><br>
  <h2>2.1. 接続終端NOCをお選びください</h2>
  <mat-label>当団体のNOC一覧は https://www.homenoc.ad.jp/en/tech/backbone/ をご覧ください</mat-label>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>NOC</mat-label>
    <mat-select [(ngModel)]="nocID" name="" required>
      <ng-container *ngFor="let noc of nocs">
        <mat-option value="{{noc.ID}}">{{noc.name}}({{noc.location}})</mat-option>
      </ng-container>
      <mat-option value="0">どこでも良い</mat-option>
    </mat-select>
  </mat-form-field>
  <br><br>
  <h2>2.2. 終端先ユーザの都道府県市町村</h2>
  <p>都道府県と市町村のみ記入してください。例) 大阪府貝塚市</p>
  <form>
    <mat-form-field class="small-width">
      <mat-label>address</mat-label>
      <input matInput placeholder="大阪府貝塚市" [formControl]="address">
    </mat-form-field>
  </form>
  <br><br>
  <h2>3. 接続方式をお選びください</h2>
  <mat-label>各接続方式については https://www.homenoc.ad.jp/usage/type/ のご説明をご確認ください</mat-label>
  <br>
  <br>
  <mat-radio-group aria-label="Select an option" [(ngModel)]="connectionType" name="connectionType" required>
    <ng-container *ngFor="let connection of connections">
      <mat-radio-button value="{{connection.ID}}"
                        (click)="changeStatus(connection.need_internet,connection.need_cross_connect,connection.need_comment)">
        {{connection.name}}: ({{connection.comment}})
      </mat-radio-button>
      <br>
    </ng-container>
    <br>
    <br>
  </mat-radio-group>
  <form class="form" *ngIf="needComment">
    <br>
    <h2>3.1. その他</h2>
    <ng-container *ngIf="needCrossConnect">
      <p>Cross Connectを選択された方は以下のフォームに詳しい情報(ラック情報など)をご記入ください。</p>
    </ng-container>
    <br>
    <mat-form-field class="full-width">
      <label>
        <textarea matInput placeholder="ご希望の接続方式をご記入ください" [formControl]="connectionComment"></textarea>
      </label>
    </mat-form-field>
    <br><br>
  </form>
  <ng-container *ngIf="needInternet">
    <h2>3.1. トンネル終端IPアドレス</h2>
    <mat-label>トンネル接続をご希望の方はトンネル終端先のIPv6アドレスをご記入ください</mat-label>
    <form>
      <mat-form-field class="small-width">
        <mat-label>IP Address</mat-label>
        <input matInput placeholder="2001:xxxx:xxxx::xxxx/64" [formControl]="termIP">
      </mat-form-field>
    </form>
    <br><br>
    <h2>3.2. 接続終端場所にNTTフレッツ光が利用可能かをお知らせください</h2>
    <mat-label>接続方式に構内接続をご希望の方は何も選択せず次の項目に進んでください</mat-label>
    <br>
    <mat-label>当団体ではトンネル接続を利用する場合、フレッツのIPoE(IPv6)接続をご利用頂くことを推奨しております。</mat-label>
    <br>
    <br>
    <mat-radio-group aria-label="Select an option" [(ngModel)]="nttID" name="ntt" required>
      <ng-container *ngFor="let ntt of ntts">
        <mat-radio-button value="{{ntt.ID}}">{{ntt.name}}</mat-radio-button>
        <br>
      </ng-container>
    </mat-radio-group>
    <br><br>
  </ng-container>
  <h2>4. ネットワーク監視</h2>
  <mat-label>当団体によるネットワーク監視をご希望の場合はチェックを入れて下さい</mat-label>
  <br>
  <mat-label>検証用などで頻繁に接続断が発生する予定の場合は当団体からの監視はお断りいたします</mat-label>
  <br>
  <br>
  <mat-checkbox [(ngModel)]="monitor">希望する</mat-checkbox>
  <br>
  <br>
  <button mat-button (click)="request()">Request</button>
  <br>
  <br>
  <br>
</mat-dialog-content>
