<h1 mat-dialog-title>Network情報の追加</h1>
<mat-dialog-content>
  <h2>1. ご希望のサービスをお選びください</h2>
  <mat-radio-group aria-label="Select an option" [(ngModel)]="networkType" name="networkType" required>
    <ng-container *ngFor="let net of this.data.networks">
      <mat-radio-button value="{{net.id}}">{{net.name}}: ({{net.comment}})</mat-radio-button>
      <br>
    </ng-container>
  </mat-radio-group>
  <br>
  <ng-container *ngIf="networkType === '2000' || networkType === '3S00' || networkType === '3B00'
  || networkType === 'CL20' || networkType === 'CL3S' || networkType === 'CL3B'">
    <h2>1.1. IPアドレス割当申請</h2>
    <h2>1.1.1. 割り当てを希望するIPアドレスをお知らせください</h2>
    <p>ネットワーク名は半角英数字とハイフンで12文字以内で入力してください</p>
    <mat-checkbox [(ngModel)]="checkV4">IPv4アドレスのアサインを希望する</mat-checkbox>
    <form *ngIf="checkV4" [formGroup]="jpnicV4">
      <mat-form-field [style.width.px]=600>
        <mat-label>IPv4ネットワーク名</mat-label>
        <label>
          <input matInput placeholder="Ex. HOMENOCV4" formControlName="name">
        </label>
      </mat-form-field>
      <br>
      <mat-form-field [style.width.px]=800>
        <mat-label>IPv4 Subnet</mat-label>
        <label>
          <input matInput placeholder="Ex. /x" formControlName="subnet">
        </label>
      </mat-form-field>
    </form>
    <br>
    <mat-checkbox [(ngModel)]="checkV6">IPv6アドレスのアサインを希望する</mat-checkbox>
    <form *ngIf="checkV6" [formGroup]="jpnicV6">
      <mat-form-field [style.width.px]=600>
        <mat-label>IPv6ネットワーク名</mat-label>
        <label>
          <input matInput placeholder="Ex. HOMENOCV6" formControlName="name">
        </label>
      </mat-form-field>
      <br>
      <mat-form-field [style.width.px]=800>
        <mat-label>IPv6 Subnet</mat-label>
        <label>
          <input matInput placeholder="Ex. /x" formControlName="subnet">
        </label>
      </mat-form-field>
    </form>
    <br><br>
    <h2>1.1.2. JPNICへ登録する情報についてお知らせください</h2>
    <h3>日本語</h3>
    <p><b>日本語で入力してください</b></p>
    <form class="form" [formGroup]="jpnicJa">
      <mat-form-field [style.width.px]=300>
        <mat-label>組織名(日本語)</mat-label>
        <label>
          <textarea matInput placeholder="Org" formControlName="org" required></textarea>
        </label>
      </mat-form-field>
      <br>
      <mat-form-field [style.width.px]=200>
        <mat-label>郵便番号</mat-label>
        <label>
          <textarea matInput placeholder="Postcode" formControlName="postcode" required></textarea>
        </label>
      </mat-form-field>
      <br>
      <mat-form-field [style.width.px]=500>
        <mat-label>住所(日本語)</mat-label>
        <label>
          <textarea matInput placeholder="Address" formControlName="address" required></textarea>
        </label>
      </mat-form-field>
    </form>
    <h3>English</h3>
    <p><b>英語で入力してください</b></p>
    <form class="form" [formGroup]="jpnicEn">
      <mat-form-field [style.width.px]=300>
        <mat-label>Organization Name(English)</mat-label>
        <label>
          <textarea matInput placeholder="org(English)" formControlName="org" required></textarea>
        </label>
      </mat-form-field>
      <br>
      <mat-form-field [style.width.px]=500>
        <mat-label>Organization Address(English)</mat-label>
        <label>
          <textarea matInput placeholder="Address(English)" formControlName="address" required></textarea>
        </label>
      </mat-form-field>
    </form>
    <br><br>
    <h2>1.1.3. 管理責任者</h2>
    <p>割り当てるIPアドレスの管理責任者をお選びください</p>
    <mat-radio-group aria-label="Select an option" [(ngModel)]="admin" name="op_staff">
      <ng-container *ngIf="this.data.users !==null">
        <ng-container *ngFor="let u of this.data.users">
          <mat-radio-button value="{{u.ID}}">{{u.ID}}: {{u.name}}</mat-radio-button>
          <br>
        </ng-container>
      </ng-container>
    </mat-radio-group>
    <br>
    <h2>1.1.4. 技術連絡担当者</h2>
    <p>割り当てるIPアドレスの技術連絡担当者をお選びください</p>
    <ng-container *ngIf="this.data.users !==null">
      <ng-container *ngFor="let u of this.data.users">
        <mat-checkbox [(ngModel)]="u.select">{{u.ID}}: {{u.name}}</mat-checkbox>
        <br>
      </ng-container>
    </ng-container>
    <br>
    <h2>(1.1.3,1.1.4項の管理責任者と技術連絡担当者の項目について)</h2>
    <p>技術スタッフを増やしたい場合は、「設定ー＞各種手続きー＞ユーザの追加の手続きー＞ユーザの追加」より可能です。
      <br>
      Group Handleをご希望の方は、「設定ー＞各種手続きー＞ユーザの追加の手続きー＞グループハンドル用のユーザ追加」より可能です。</p>
    <p>必ず本人確認メールの認証と追加したユーザの初期登録を済ませてから本ページの登録をお願いします。
      <br>
      初期登録が済んでいない場合は、ユーザ一覧に表示されないのでご注意ください。</p>
    <br>
    <h2>1.1.5. IPv4ネットワークプラン</h2>
    <p>IPv4アドレスの割り当てには、JPNICの定めるIPアドレスの利用率を満たして頂く必要がございます。
      <br>
      最低でも割り当てから3カ月以内に25%、6カ月以内に25%、1年以内に50％をご利用いただく必要があります。
      <br>
      以下のフォームにIPアドレスの利用計画をご記入ください。</p>
    <form>
      <mat-form-field [style.width.px]=700>
        <textarea matInput rows="30" [formControl]="plan" required></textarea>
      </mat-form-field>
    </form>
    <br>
  </ng-container>
  <br>
  <ng-container *ngIf="networkType === 'IP3B'">
    <h2>1.1.1. IPアドレス</h2>
    <p>複数をお持ちの場合はカンマ「,」で区切って1セグメントずつ入力してください</p>
    <mat-form-field class="small-width">
      <mat-label>ASN</mat-label>
      <label>
        <input matInput placeholder="AS59105" [formControl]="asn">
      </label>
    </mat-form-field>
    <br>
    <form [formGroup]="jpnicV4">
      <mat-form-field [style.width.px]=400>
        <mat-label>IPv4</mat-label>
        <label>
          <input matInput placeholder="192.0.2.0/24" formControlName="subnet">
        </label>
      </mat-form-field>
    </form>
    <form [formGroup]="jpnicV6">
      <mat-form-field [style.width.px]=400>
        <mat-label>IPv6</mat-label>
        <label>
          <input matInput placeholder="2001:db8::/32" formControlName="subnet">
        </label>
      </mat-form-field>
    </form>
    <br><br>
    <h2>1.1.2. AS管理責任者</h2>
    <p>グローバルASの管理責任者をお選びください。（貴団体のグローバルASに関わる技術責任者）</p>
    <mat-radio-group aria-label="Select an option" [(ngModel)]="admin" name="op_staff">
      <ng-container *ngIf="this.data.users !==null">
        <ng-container *ngFor="let u of this.data.users">
          <mat-radio-button value="{{u.ID}}">{{u.ID}}: {{u.name}}</mat-radio-button>
          <br>
        </ng-container>
      </ng-container>
    </mat-radio-group>
    <br>
    <h2>1.1.3. AS技術連絡担当者</h2>
    <p>貴団体内で運用に従事されている方はこちらに登録してください。</p>
    <ng-container *ngIf="this.data.users !==null">
      <ng-container *ngFor="let u of this.data.users">
        <mat-checkbox [(ngModel)]="u.select">{{u.ID}}: {{u.name}}</mat-checkbox>
        <br>
      </ng-container>
    </ng-container>
    <br>
    <h2>(1.1.2,1.1.3項のAS管理責任者とAS技術連絡担当者の項目について)</h2>
    <p>技術スタッフを増やしたい場合は、「設定ー＞各種手続きー＞ユーザの追加の手続きー＞ユーザの追加」より可能です。</p>
    <p>必ず本人確認メールの認証と追加したユーザの初期登録を済ませてから本ページの登録をお願いします。
      <br>
      初期登録が済んでいない場合は、ユーザ一覧に表示されないのでご注意ください。</p>
    <p>こちらからご連絡する場合は、以下のような順番で通知させていただきます。</p>
    <p>AS管理担当者連絡＝＞AS技術連絡担当者(複数人)</p>
    <br>
  </ng-container>
  <ng-container *ngIf="networkType === '3B00' || networkType==='IP3B'">
    <h2>1.2. 当団体から広報する経路をお選び下さい（BGPの方のみ）</h2>
    <section>
      <mat-checkbox [(ngModel)]="routeV4Check">IPv4でBGPの経路広告を希望する</mat-checkbox>
    </section>
    <section>
      <mat-checkbox [(ngModel)]="routeV6Check">IPv6でBGPの経路広告を希望する</mat-checkbox>
    </section>
    <br>
    <ng-container *ngIf="routeV4Check">
      <h3>1.2.1. IPv4</h3>
      <mat-label>特定のAS-Pathのみなど特殊な経路広報をご希望の場合、その他を選択してサポートまでお問合せください</mat-label>
      <br>
      <br>
      <mat-radio-group aria-label="Select an option" [(ngModel)]="routeV4" name="route_v4" required>
        <mat-radio-button value="BGP IPv4 FullRoute">BGP IPv4 フルルート</mat-radio-button>
        <br>
        <mat-radio-button value="BGP IPv4 DefaultRoute">BGP IPv4 デフォルトルート</mat-radio-button>
        <br>
        <mat-radio-button value="Other">その他</mat-radio-button>
        <br>
      </mat-radio-group>
      <form class="form" *ngIf="routeV4 === 'Other'">
        <br>
        <mat-form-field [style.width.px]=600>
          <label>
            <textarea matInput placeholder="こちらにご記入ください" [formControl]="routeV4Etc"></textarea>
          </label>
        </mat-form-field>
      </form>
      <br>
    </ng-container>
    <ng-container *ngIf="routeV6Check">
      <h3>1.2.2. IPv6</h3>
      <mat-label>特定のAS-Pathのみなど特殊な経路広報をご希望の場合、その他を選択してサポートまでお問合せください</mat-label>
      <br>
      <br>
      <mat-radio-group aria-label="Select an option" [(ngModel)]="routeV6" name="route_v6" required>
        <mat-radio-button value="BGP IPv6 FullRoute">BGP IPv6 フルルート</mat-radio-button>
        <br>
        <mat-radio-button value="BGP IPv6 DefaultRoute">BGP IPv6 デフォルトルート</mat-radio-button>
        <br>
        <mat-radio-button value="Other">その他</mat-radio-button>
        <br>
      </mat-radio-group>
      <form class="form" *ngIf="routeV6 === 'Other'">
        <br>
        <mat-form-field [style.width.px]=600>
          <label>
            <textarea matInput placeholder="こちらにご記入ください" [formControl]="routeV6Etc"></textarea>
          </label>
        </mat-form-field>
      </form>
      <br>
    </ng-container>
  </ng-container>
  <form class="form" *ngIf="networkType === 'ET00' || networkType === 'CL20' ||
   networkType === 'CL3S' || networkType === 'CL3B'">
    <br>
    <h2>1.2. その他</h2>
    <p *ngIf="networkType === 'CL20' ||   networkType === 'CL3S' || networkType === 'CL3B'">
      設置場所などの情報を記入
    </p>
    <br>
    <mat-form-field class="full-width">
      <label>
        <textarea matInput placeholder="ご希望の接続方式をご記入ください" [formControl]="networkComment"></textarea>
      </label>
    </mat-form-field>
    <br>
    <br>
  </form>
  <h2>2. 利用開始・終了日</h2>
  <mat-label>一時的な検証やイベントネットワークでの利用など、利用終了日が決まっている場合はお知らせください</mat-label>
  <br>
  <mat-label>利用開始日に関しましては、ベストエフォートとなりますので、期待に応じられない可能性があります。</mat-label>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>接続開始日</mat-label>
    <input matInput [matDatepicker]="dpStart" (dateChange)="addEventStart($event)">
    <mat-datepicker-toggle matSuffix [for]="dpStart"></mat-datepicker-toggle>
    <mat-datepicker #dpStart></mat-datepicker>
  </mat-form-field>
  <br>
  <p>接続終了日は未定の場合はここにチェックしてください。</p>
  <section>
    <mat-checkbox [(ngModel)]="dateEndUnlimited">接続終了日が未定</mat-checkbox>
  </section>
  <ng-container *ngIf="!dateEndUnlimited">
    <mat-form-field appearance="fill">
      <mat-label>接続終了日</mat-label>
      <input matInput [matDatepicker]="dpEnd" (dateChange)="addEventEnd($event)">
      <mat-datepicker-toggle matSuffix [for]="dpEnd"></mat-datepicker-toggle>
      <mat-datepicker #dpEnd></mat-datepicker>
    </mat-form-field>
  </ng-container>
  <br><br>
  <button mat-button (click)="request()">Request</button>
  <br>
  <br>
</mat-dialog-content>
