<div class="main">
  <h2>GID: {{org}} ID: {{id}} Status: <b>{{statusInfo}}</b></h2>
  <ng-container *ngIf="loading">
    <h1>読み込み中...</h1>
  </ng-container>
  <ng-container *ngIf="!loading">
    <mat-tab-group>
      <mat-tab label="情報">
        <br>
        <ng-container *ngIf="group.status === 1">
          <button mat-raised-button color="primary" (click)="updateStatus(11)">ネットワーク情報記入</button>
        </ng-container>
        <ng-container *ngIf="group.status % 100 === 11 ||group.status % 100 === 21||group.status % 100 === 51">
          <button mat-raised-button color="primary" (click)="updatePlusStatus()">審査</button>
        </ng-container>
        <ng-container *ngIf="group.status % 100 === 12 ||group.status % 100 === 22||group.status % 100 === 52">
          <button mat-raised-button color="primary" (click)="updatePlusStatus()">接続情報記入</button>
        </ng-container>
        <ng-container *ngIf="group.status % 100 === 13 ||group.status % 100 === 23||group.status % 100 === 53">
          <button mat-raised-button color="primary" (click)="updatePlusStatus()">開通作業</button>
        </ng-container>
        <ng-container *ngIf="group.status % 100 === 14 ||group.status % 100 === 24||group.status % 100 === 54">
          <button mat-raised-button color="primary" (click)="updateStatus(500)">開通</button>
        </ng-container>
        <ng-container *ngIf="group.status === 500">
          <button mat-raised-button [matMenuTriggerFor]="add">ネットワーク追加</button>
          <mat-menu #add="matMenu">
            <button mat-menu-item (click)="updateStatus(111)">当団体から割当</button>
            <button mat-menu-item (click)="updateStatus(121)">PIアドレス</button>
            <button mat-menu-item (click)="updateStatus(151)">イレギュラー</button>
          </mat-menu>
          <button mat-raised-button [matMenuTriggerFor]="change" disabled>変更</button>
          <mat-menu #change="matMenu">
            <button mat-menu-item (click)="updateStatus(211)">当団体から割当</button>
            <button mat-menu-item (click)="updateStatus(221)">PIアドレス</button>
            <button mat-menu-item (click)="updateStatus(251)">イレギュラー</button>
          </mat-menu>
        </ng-container>
        <button mat-raised-button [matMenuTriggerFor]="abolished" color="warn">廃止</button>
        <mat-menu #abolished="matMenu">
          <button mat-menu-item (click)="updateStatus(1000)">ユーザより廃止</button>
          <button mat-menu-item (click)="updateStatus(1100)">運営より廃止</button>
          <button mat-menu-item (click)="updateStatus(1500)">審査落ち</button>
        </mat-menu>
        <br>
        <br>
        <br>
        <table>
          <tr>
            <th colspan="2">User Information</th>
          </tr>
          <tr>
            <th>User Create Date</th>
            <td>{{group.CreatedAt}}</td>
          </tr>
          <tr>
            <th>User Update Date</th>
            <td>{{group.UpdatedAt}}</td>
          </tr>
          <tr>
            <th>Org</th>
            <td>{{group.org}}</td>
          </tr>
          <tr>
            <th>Agreement</th>
            <td>{{group.agree}}</td>
          </tr>
          <tr>
            <th>Comment</th>
            <td>{{group.comment}}</td>
          </tr>
          <tr>
            <th>Student</th>
            <td>{{group.student}}</td>
          </tr>
          <tr>
            <th>Status</th>
            <td>{{group.status}}</td>
          </tr>
          <tr>
            <th>Lock</th>
            <td>{{group.lock}}</td>
          </tr>
        </table>
        <br>
        <mat-accordion>
          <mat-expansion-panel class="card">
            <mat-expansion-panel-header>
              <mat-panel-title>Question</mat-panel-title>
            </mat-expansion-panel-header>
            <p>{{group.question}}</p>
          </mat-expansion-panel>
        </mat-accordion>
        <br>
        <mat-accordion>
          <mat-expansion-panel class="card">
            <mat-expansion-panel-header>
              <mat-panel-title>Bandwidth</mat-panel-title>
            </mat-expansion-panel-header>
            <p>{{group.bandwidth}}</p>
          </mat-expansion-panel>
        </mat-accordion>
        <br>
        <mat-accordion>
          <mat-expansion-panel class="card">
            <mat-expansion-panel-header>
              <mat-panel-title>Contract</mat-panel-title>
            </mat-expansion-panel-header>
            <p>{{group.contract}}</p>
          </mat-expansion-panel>
        </mat-accordion>
        <br>
      </mat-tab>
      <mat-tab label="設定">
        <ng-template matTabContent>
          <br>
          <div class="main">
            <p>Updateしたいデータを記入することで、その部分のみが更新されます。</p>
            <form [formGroup]="groupInput">
              <mat-form-field appearance="fill">
                <mat-label>Org</mat-label>
                <input matInput type="text" formControlName="org">
              </mat-form-field>
              <br>
              <mat-form-field appearance="fill">
                <mat-label>Status</mat-label>
                <input matInput type="number" formControlName="status">
              </mat-form-field>
              &nbsp;
              <h3>Lock</h3>
              <mat-checkbox formControlName="lock">Lock</mat-checkbox>
            </form>
            <br>
            <button mat-stroked-button color="primary" (click)="update()">Update</button>
            <br>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab label="ユーザ情報">
        <h2>User情報</h2>
        <ng-container *ngFor="let d of users">
          <mat-card class="card">
            <mat-card-header>
              <mat-card-title>{{d.name}}</mat-card-title>
              <mat-card-subtitle>ID:{{d.ID}}</mat-card-subtitle>
              <mat-card-subtitle>{{d.email}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <mat-card-subtitle>
                <mat-chip-list>
                  <ng-container *ngIf="!d.mail_verify">
                    <mat-chip color="warn" selected>メール未認証</mat-chip>
                  </ng-container>
                  <ng-container *ngIf="d.status === 0">
                    <mat-chip color="warn" selected>情報未入力</mat-chip>
                  </ng-container>
                </mat-chip-list>
              </mat-card-subtitle>
              <p></p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button (click)="userPage(d.ID)">User Page</button>
            </mat-card-actions>
          </mat-card>
        </ng-container>
        <br>
      </mat-tab>
      <mat-tab label="ネットワーク情報">
        <h2>ネットワーク一覧</h2>
        <button mat-button color="primary" (click)="createNetworkInfo()">追加</button>
        <br>
        <ng-container *ngFor="let d of networks">
          <mat-card class="card">
            <mat-card-header>
              <mat-card-title>{{d.network.ID}}: {{d.network.v4_name}} / {{d.network.v6_name}}</mat-card-title>
              <mat-card-subtitle>v4: <b>{{d.network.v4_name}}</b> v6: <b>{{d.network.v6_name}}</b></mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <mat-card-subtitle>
                <mat-chip-list>
                  <ng-container *ngIf="d.network.open">
                    <mat-chip color="primary" selected>開通</mat-chip>
                  </ng-container>
                  <ng-container *ngIf="!d.network.open">
                    <mat-chip color="warn" selected>未開通</mat-chip>
                  </ng-container>
                </mat-chip-list>
              </mat-card-subtitle>
              管理者連絡窓口:
              <b>
                <ng-container *ngFor="let jpnic of d.jpnic_tech">
                  {{getUser(jpnic.user_id)}}
                </ng-container>
              </b>
              <br>
              技術連絡担当者:
              <b>
                <ng-container *ngFor="let jpnic of d.jpnic_tech">
                  {{getUser(jpnic.user_id)}}
                </ng-container>
              </b>
              <br>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button (click)="networkPage(d.network.ID)">Detail Page</button>
            </mat-card-actions>
          </mat-card>
        </ng-container>
        <br>
      </mat-tab>
      <mat-tab label="接続情報">
        <h2>接続情報</h2>
        <mat-tab-group>
          <mat-tab label="開通済み">
            <ng-container *ngFor="let d of connections">
              <ng-container *ngIf="d.open">
                <mat-card class="card">
                  <mat-card-header>
                    <mat-card-title>{{d.service_id}}</mat-card-title>
                    <mat-card-subtitle>ID:{{d.ID}}</mat-card-subtitle>
                    <mat-card-subtitle>{{d.email}}</mat-card-subtitle>
                  </mat-card-header>
                  <mat-card-content>
                    <mat-card-subtitle>
                      <mat-chip-list>
                        <ng-container *ngIf="d.open">
                          <mat-chip color="primary" selected>開通</mat-chip>
                        </ng-container>
                      </mat-chip-list>
                    </mat-card-subtitle>
                  </mat-card-content>
                  <mat-card-actions>
                    <button mat-button (click)="connectionPage(d.ID)">Detail Page</button>
                  </mat-card-actions>
                </mat-card>
              </ng-container>
            </ng-container>
            <br>
          </mat-tab>
          <mat-tab label="未開通">
            <ng-container *ngFor="let d of connections">
              <ng-container *ngIf="!d.open">
                <mat-card class="card">
                  <mat-card-header>
                    <mat-card-title>{{d.service_id}}</mat-card-title>
                    <mat-card-subtitle>ID:{{d.ID}}</mat-card-subtitle>
                    <mat-card-subtitle>{{d.email}}</mat-card-subtitle>
                  </mat-card-header>
                  <mat-card-content>
                    <mat-card-subtitle>
                      <mat-chip-list>
                        <ng-container *ngIf="!d.open">
                          <mat-chip color="warn" selected>未開通</mat-chip>
                        </ng-container>
                      </mat-chip-list>
                    </mat-card-subtitle>
                    <p></p>
                  </mat-card-content>
                  <mat-card-actions>
                    <button mat-button (click)="connectionPage(d.ID)">Detail Page</button>
                  </mat-card-actions>
                </mat-card>
              </ng-container>
            </ng-container>
            <br>
          </mat-tab>
        </mat-tab-group>
        <br>
      </mat-tab>
    </mat-tab-group>
  </ng-container>
  <br>
</div>
