<div class="main">
  <h2>ID: {{id}}</h2>
  <ng-container *ngIf="loading">
    <h1>読み込み中...</h1>
  </ng-container>
  <ng-container *ngIf="!loading">
    <mat-tab-group>
      <mat-tab label="情報">
        <br>
        <table>
          <tr>
            <th colspan="2">NOC Information</th>
          </tr>
          <tr>
            <th>Create Date</th>
            <td>{{noc.CreatedAt}}</td>
          </tr>
          <tr>
            <th>Update Date</th>
            <td>{{noc.UpdatedAt}}</td>
          </tr>
          <tr>
            <th>Name</th>
            <td>{{noc.name}}</td>
          </tr>
          <tr>
            <th>Location</th>
            <td>{{noc.location}}</td>
          </tr>
          <tr>
            <th>Bandwidth</th>
            <td>{{noc.bandwidth}}</td>
          </tr>
          <tr>
            <th>Comment</th>
            <td>{{noc.comment}}</td>
          </tr>
          <tr>
            <th>Enable</th>
            <td>{{noc.enable}}</td>
          </tr>
        </table>
      </mat-tab>
      <mat-tab label="設定">
        <ng-template matTabContent>
          <br>
          <div class="main">
            <p>Updateしたいデータを記入することで、その部分のみが更新されます。</p>
            <form [formGroup]="nocInput">
              <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput type="text" formControlName="name">
              </mat-form-field>
              <br>
              <mat-form-field appearance="fill">
                <mat-label>Location</mat-label>
                <input matInput type="text" formControlName="location">
              </mat-form-field>
              <br>
              <mat-form-field appearance="fill">
                <mat-label>Bandwidth</mat-label>
                <input matInput type="text" formControlName="bandwidth">
              </mat-form-field>
              <br>
              <h4>コメント</h4>
              <mat-form-field class="textarea-form">
                <textarea matInput rows="10" placeholder="Ex. It makes me feel..." formControlName="comment"></textarea>
              </mat-form-field>
              <br>
              <h3>各種設定</h3>
              <mat-checkbox formControlName="enable">Enable</mat-checkbox>
              &nbsp;
            </form>
            <br>
            <button mat-stroked-button color="primary" (click)="update()">Update</button>
            <br>
          </div>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </ng-container>
  <br>
</div>
