<div class="main">
  <h1>Mail Text</h1>
  <h2>Email: {{mail}}</h2>
  <form class="form" [formGroup]="auth">
    <h2>AD User</h2>
    <mat-form-field class="large-width">
      <mat-label>user</mat-label>
      <label>
        <input matInput placeholder="text ....." formControlName="user" required>
      </label>
    </mat-form-field>
    <h2>AD Pass</h2>
    <mat-form-field class="large-width">
      <mat-label>pass</mat-label>
      <label>
        <input matInput placeholder="text ....." formControlName="pass" required>
      </label>
    </mat-form-field>
  </form>
  <mat-tab-group>
    <mat-tab label="JP">
      <form class="form">
        <h2>Subject</h2>
        <mat-form-field class="large-width">
          <mat-label>Subject</mat-label>
          <label>
            <input matInput placeholder="subject ....." [formControl]="subjectJP" required>
          </label>
        </mat-form-field>
        <h2>Content</h2>
        <mat-form-field class="large-width">
          <mat-label>contact mail text</mat-label>
          <label>
            <textarea matInput rows="15" placeholder="contents ....." [formControl]="contentJP" required></textarea>
          </label>
        </mat-form-field>
      </form>
      <br>
      <br>
      <p>If you send mail, please you will push this button.(admin.local.bgp.ne.jp)</p>
      <button mat-raised-button (click)="sendMail()">SendMail</button>
      <br><br>
      <p>This is test button... (localhost)</p>
      <button mat-raised-button (click)="sendTestMail()">SendMail(Test)</button>
      <br><br>
    </mat-tab>
    <mat-tab label="EN">
      <form class="form">
        <h2>Subject</h2>
        <mat-form-field class="large-width">
          <mat-label>Subject</mat-label>
          <label>
            <input matInput placeholder="subject ....." [formControl]="subjectEN" required>
          </label>
        </mat-form-field>
        <h2>Content</h2>
        <mat-form-field class="large-width">
          <mat-label>contact mail text</mat-label>
          <label>
            <textarea matInput rows="15" placeholder="contents ....." [formControl]="contentEN" required></textarea>
          </label>
        </mat-form-field>
      </form>
      <br>
      <br>
      <p>If you send mail, please you will push this button.(admin.local.bgp.ne.jp)</p>
      <button mat-raised-button (click)="sendMail()">SendMail</button>
      <br><br>
      <p>This is test button... (localhost)</p>
      <button mat-raised-button (click)="sendTestMail()">SendMail(Test)</button>
      <br><br>
    </mat-tab>
  </mat-tab-group>
  <br>
  <br>
  <br>
</div>
