.main {
  margin-top: 7px;
  margin-left: 10px;
  margin-right: 10px;

  .h1 {
    font-size: xx-large;
  }
}

.card {
  margin-top: 7px;
  margin-left: 10px;
  margin-right: 10px;
}

.large-width {
  width: 80%;
}

.half-width {
  width: 50%;
}

.textarea-form {
  min-width: 400px;
  max-width: 1000px;
  width: 100%;
}
