<div class="main">
  <h1>Notice</h1>
  <mat-tab-group>
    <ng-container *ngIf="loading">
      <h2>データがありません。</h2>
    </ng-container>
    <mat-tab label="通知一覧">
      <ng-container *ngFor="let d of notice">
        <ng-container *ngIf="toDate(d.start_time) < now && now < toDate(d.end_time) || d.end_time === null">
          <mat-card class="card">
            <mat-card-header>
              <mat-card-title>{{d.title}}</mat-card-title>
              <mat-card-subtitle>ID: {{d.ID}} GroupID:{{d.group_id}}</mat-card-subtitle>
              <mat-card-subtitle>
                <mat-chip-list>
                  <ng-container>
                    <mat-chip color="primary" *ngIf="d.everyone" selected>Everyone</mat-chip>
                  </ng-container>
                  <ng-container>
                    <mat-chip color="warn" *ngIf="d.fault" selected>障害</mat-chip>
                  </ng-container>
                  <ng-container>
                    <mat-chip color="primary" *ngIf="d.important" selected>重要</mat-chip>
                  </ng-container>
                  <ng-container>
                    <mat-chip color="primary" *ngIf="d.info" selected>Info</mat-chip>
                  </ng-container>
                </mat-chip-list>
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>{{d.data}}</p>
              <button mat-button color="primary" (click)="detailPage(d.ID)">詳細ページ</button>
              <button mat-button color="warn" (click)="delete(d.ID)">削除</button>
            </mat-card-content>
          </mat-card>
        </ng-container>
      </ng-container>
      <br>
    </mat-tab>
    <mat-tab label="通知一覧(通知予定）">
      <ng-container *ngFor="let d of notice">
        <ng-container *ngIf="toDate(d.start_time) > now ">
          <mat-card class="card">
            <mat-card-header>
              <mat-card-title>{{d.title}}</mat-card-title>
              <mat-card-subtitle>ID: {{d.ID}} GroupID:{{d.group_id}}</mat-card-subtitle>
              <mat-card-subtitle>
                <mat-chip-list>
                  <ng-container>
                    <mat-chip color="primary" *ngIf="d.everyone" selected>Everyone</mat-chip>
                  </ng-container>
                  <ng-container>
                    <mat-chip color="warn" *ngIf="d.fault" selected>障害</mat-chip>
                  </ng-container>
                  <ng-container>
                    <mat-chip color="primary" *ngIf="d.important" selected>重要</mat-chip>
                  </ng-container>
                  <ng-container>
                    <mat-chip color="primary" *ngIf="d.info" selected>Info</mat-chip>
                  </ng-container>
                </mat-chip-list>
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>{{d.data}}</p>
              <button mat-button color="primary" (click)="detailPage(d.ID)">詳細ページ</button>
              <button mat-button color="warn" (click)="delete(d.ID)">削除</button>
            </mat-card-content>
          </mat-card>
        </ng-container>
      </ng-container>
      <br>
    </mat-tab>
    <mat-tab label="通知一覧(通知終了）">
      <ng-container *ngFor="let d of notice">
        <ng-container *ngIf="now > toDate(d.end_time) && d.end_time !== null">
          <mat-card class="card">
            <mat-card-header>
              <mat-card-title>{{d.title}}</mat-card-title>
              <mat-card-subtitle>ID: {{d.ID}} GroupID:{{d.group_id}}</mat-card-subtitle>
              <mat-card-subtitle>
                <mat-chip-list>
                  <ng-container>
                    <mat-chip color="primary" *ngIf="d.everyone" selected>Everyone</mat-chip>
                  </ng-container>
                  <ng-container>
                    <mat-chip color="warn" *ngIf="d.fault" selected>障害</mat-chip>
                  </ng-container>
                  <ng-container>
                    <mat-chip color="primary" *ngIf="d.important" selected>重要</mat-chip>
                  </ng-container>
                  <ng-container>
                    <mat-chip color="primary" *ngIf="d.info" selected>Info</mat-chip>
                  </ng-container>
                </mat-chip-list>
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>{{d.data}}</p>
              <button mat-button color="primary" (click)="detailPage(d.ID)">詳細ページ</button>
              <button mat-button color="warn" (click)="delete(d.ID)">削除</button>
            </mat-card-content>
          </mat-card>
        </ng-container>
      </ng-container>
      <br>
    </mat-tab>
    <mat-tab label="通知追加">
      <br>
      <form [formGroup]="noticeInput">
        <mat-form-field appearance="fill" class="half-width">
          <mat-label>タイトル</mat-label>
          <input matInput type="text" formControlName="title">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill" class="textarea-form">
          <mat-label>本文</mat-label>
          <textarea matInput cols="40" rows="20" placeholder="" type="text" formControlName="data"></textarea>
        </mat-form-field>
        <br>
        <br>
        <h2>掲示時期</h2>
        <mat-form-field>
          <input matInput [ngxMatDatetimePicker]="pickerStart" placeholder="掲示開始日" [formControl]="dateStartControl"
                 [min]="minDate" [max]="maxDate">
          <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
          <ngx-mat-datetime-picker #pickerStart [showSpinners]="showSpinners" [showSeconds]="showSeconds"
                                   [stepHour]="stepHour" [stepMinute]="stepMinute" [stepSecond]="stepSecond"
                                   [touchUi]="touchUI"
                                   [color]="color" [enableMeridian]="enableMeridian">
          </ngx-mat-datetime-picker>
        </mat-form-field>
        <br>
        <mat-checkbox [(ngModel)]="endTimeForever" [ngModelOptions]="{standalone: true}">無期限</mat-checkbox>
        <br>
        <ng-container *ngIf="!endTimeForever">
          <mat-form-field>
            <input matInput [ngxMatDatetimePicker]="pickerEnd" placeholder="掲示終了日" [formControl]="dateEndControl"
                   [min]="minDate" [max]="maxDate">
            <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
            <ngx-mat-datetime-picker #pickerEnd [showSpinners]="showSpinners" [showSeconds]="showSeconds"
                                     [stepHour]="stepHour" [stepMinute]="stepMinute" [stepSecond]="stepSecond"
                                     [touchUi]="touchUI"
                                     [color]="color" [enableMeridian]="enableMeridian">
            </ngx-mat-datetime-picker>
          </mat-form-field>
        </ng-container>
        <br>
        <h2>掲示先</h2>
        <mat-checkbox formControlName="everyone">全体に掲示</mat-checkbox>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>User ID</mat-label>
          <mat-select formControlName="user_id" required>
            <ng-container *ngFor="let user of this.users">
              <mat-option [value]="user.ID">{{user.ID}}: {{user.name}}({{user.org}})</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
        &nbsp;
        <mat-form-field appearance="fill">
          <mat-label>Group ID</mat-label>
          <mat-select formControlName="group_id" required>
            <ng-container *ngFor="let group of this.groups">
              <mat-option [value]="group.ID">{{group.ID}}:({{group.org}})</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
        &nbsp;
        <mat-form-field appearance="fill">
          <mat-label>NOC</mat-label>
          <mat-select formControlName="noc_id" required>
            <ng-container *ngFor="let noc of this.nocs">
              <mat-option [value]="noc.ID">{{noc.ID}}:({{noc.name}})</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
        <br>
        <h2>タグ</h2>
        <mat-checkbox formControlName="important">重要</mat-checkbox>
        &nbsp;
        <mat-checkbox formControlName="fault">障害</mat-checkbox>
        &nbsp;
        <mat-checkbox formControlName="info">情報</mat-checkbox>
      </form>
      <br>
      <button mat-button (click)="add()">追加</button>
      <br>
    </mat-tab>
  </mat-tab-group>
</div>
