<div class="main">
  <h2>ID: {{id}}</h2>
  <br>
  <ng-container *ngIf="loading">
    <h1>読み込み中...</h1>
  </ng-container>
  <ng-container *ngIf="!loading">
    <mat-tab-group>
      <mat-tab label="情報">
        <br>
        <table>
          <tr>
            <th colspan="2">Router Information</th>
          </tr>
          <tr>
            <th>Create Date</th>
            <td>{{routers.CreatedAt}}</td>
          </tr>
          <tr>
            <th>Update Date</th>
            <td>{{routers.UpdatedAt}}</td>
          </tr>
          <tr>
            <th>NOC ID</th>
            <td>{{routers.noc}}</td>
          </tr>
          <tr>
            <th>HostName</th>
            <td>{{routers.hostname}}</td>
          </tr>
          <tr>
            <th>Address</th>
            <td>{{routers.address}}</td>
          </tr>
          <tr>
            <th>Enable</th>
            <td>{{routers.enable}}</td>
          </tr>
        </table>
      </mat-tab>
      <mat-tab label="設定">
        <ng-template matTabContent>
          <br>
          <div class="main">
            <p>Updateしたいデータを記入することで、その部分のみが更新されます。</p>
            <form [formGroup]="routerInput">
              <mat-form-field appearance="fill">
                <mat-label>NOC ID</mat-label>
                <input matInput type="number" formControlName="noc">
              </mat-form-field>
              <br>
              <mat-form-field appearance="fill">
                <mat-label>HostName</mat-label>
                <input matInput type="text" formControlName="hostname">
              </mat-form-field>
              <br>
              <mat-form-field appearance="fill">
                <mat-label>Address</mat-label>
                <input matInput type="text" formControlName="address">
              </mat-form-field>
              <br>
              <h3>各種設定</h3>
              <mat-checkbox formControlName="enable">Enable</mat-checkbox>
              &nbsp;
              <br>
            </form>
            <br>
            <button mat-stroked-button color="primary" (click)="update()">Update</button>
            <br>
          </div>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </ng-container>
  <br>
</div>
