.card {
  margin: 4px 10px 4px 10px;
}

.sub {
  margin-top: 10px;
  margin-bottom: 10px;
}

.left {
  margin-left: 10px;

  p {
    white-space: pre-wrap;
  }
}

.large-width {
  width: 80%;
}

::ng-deep nb-layout-column {
  justify-content: center;
  display: flex;
}

nb-chat {
  width: 500px;
  margin: 0.5rem 0 2rem 2rem;
}

//Issue #8
/* 全体の枠 */
.talk {
  background-color: rgb(113, 147, 193); /* LINEっぽい背景色 */
  padding: 1em;
  overflow: auto;
}

/* 左側のチャット */
.talk .talk_left:before { /* 左アイコン */
  content: '';
  display: inline-block;
  width: 50px;
  height: 50px;
  vertical-align: top;
  border-radius: 50%;
  background-size: cover;
  background-image: url(../../../../assets/user.png); /* ←アイコン変更 */
}

.talk .talk_left p:before { /* 左ふきだしの左三角を描画 */
  content: '';
  position: absolute;
  top: 8px;
  left: -20px;
  border: 12px solid transparent;
  border-right: 12px solid white;
}

.talk .talk_left p { /* 左ふきだしの本体 */
  display: inline-block;
  position: relative;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  margin: 0 0 0 10px;
}


/* 右側のチャット */
.talk .talk_right:before { /* 左アイコン */
  content: '';
  display: inline-block;
  width: 50px;
  height: 50px;
  vertical-align: top;
  border-radius: 50%;
  background-size: cover;
  background-image: url(../../../../assets/homenoc.png); /* ←アイコン変更 */
}

.talk .talk_right p:before { /* 左ふきだしの左三角を描画 */
  content: '';
  position: absolute;
  top: 8px;
  left: -20px;
  border: 12px solid transparent;
  border-right: 12px solid #85e249;
}

.talk .talk_right p { /* 左ふきだしの本体 */
  display: inline-block;
  position: relative;
  background-color: #85e249;
  border-radius: 10px;
  padding: 10px;
  margin: 0 0 0 10px;
}

//.talk .talk_right:after { /* 右アイコン */
//  content: '';
//  display: inline-block;
//  width: 50px;
//  height: 50px;
//  vertical-align: top;
//  border-radius: 50%;
//  background-size: cover;
//  background-image: url(../../../../assets/homenoc.png); /* ←アイコン変更 */
//  //background-image: url(/assets/homenoc.png); /* ←アイコン変更 */
//}
//
//.talk .talk_right {
//  float: left; /* 右のふきだしの右寄せ */
//  margin-top: 1em;
//}
//
//.talk .talk_right p:after { /* 右ふきだしの右三角を描画 */
//  content: '';
//  position: absolute;
//  top: 8px;
//  right: -20px;
//  border: 12px solid transparent;
//  border-left: 12px solid #85e249;
//}
//
//.talk .talk_right p { /* 右ふきだしの本体 */
//  display: inline-block;
//  position: relative;
//  background-color: #85e249;
//  border-radius: 10px;
//  padding: 10px;
//  margin: 0 10px 0 0;
//}
