<div class="talk">
  <div class="left">
    <!--  Issue #8-->
    <br>
    <h1>Chat</h1>
    <br>
    <ng-container *ngFor="let d of chat">
      <ng-container *ngIf="d.admin">
        <div class="talk_right">
          <p>({{d.CreatedAt}}):<br>------------------------------------<br>{{d.data}}</p>
        </div>
        <br>
      </ng-container>
      <ng-container *ngIf="!d.admin">
        <div class="talk_left">
          <p>{{this.getName(d.user_id)}} ({{d.CreatedAt}}):<br>------------------------------------<br>{{d.data}}</p>
        </div>
        <br>
      </ng-container>
    </ng-container>
    <ng-container *ngFor="let d of this.supportService.chatMessage">
      <ng-container *ngIf="d.admin">
        <div class="talk_right">
          <p>({{d.CreatedAt}}):<br>------------------------------------<br>{{d.data}}</p>
        </div>
        <br>
      </ng-container>
      <ng-container *ngIf="!d.admin">
        <div class="talk_left">
          <p>{{this.getName(d.user_id)}} ({{d.CreatedAt}}):<br>------------------------------------<br>{{d.data}}</p>
        </div>
        <br>
      </ng-container>
    </ng-container>
    <br>
  </div>
</div>
<div class="left">
  <form>
    <mat-form-field class="large-width">
      <mat-label>Comment</mat-label>
      <textarea matInput rows="3" placeholder="" [formControl]="comment" name=""></textarea>
    </mat-form-field>
  </form>
  <br>
  <br>
  <button mat-button (click)="sendMessage()">Send</button>
  <br>
  <br>
</div>

