<div class="main">
  <h2>ID: {{id}}</h2>
  <ng-container *ngIf="loading">
    <h1>読み込み中...</h1>
  </ng-container>
  <ng-container *ngIf="!loading">
    <h1>接続コード: {{connection.connection_type}}{{('0000' + connection.connection_number).slice(-3)}}</h1>
    <br>
    <mat-tab-group>
      <mat-tab label="情報">
        <br>
        <table>
          <tr>
            <th colspan="4">BGP Router</th>
          </tr>
          <ng-container *ngIf="connection.router_id !== null">
            <tr>
              <th>ID</th>
              <td colspan="1">{{connection.router_id}}</td>
              <th>LINK</th>
              <td colspan="1">
                <button mat-raised-button (click)="linkRouter(connection.router_id)">リンク</button>
              </td>
            </tr>
            <tr>
              <th>HostName</th>
              <td colspan="1">{{getRouterHostName(connection.router_id)}}</td>
              <th>Enable</th>
              <td colspan="1">{{getRouterEnable(connection.router_id)}}
            </tr>
          </ng-container>
        </table>
        <br>
        <table>
          <tr>
            <th colspan="4">Tunnel Endpoint Router</th>
          </tr>
          <ng-container *ngIf="connection.gateway_ip_id !== null">
            <tr>
              <th>ID</th>
              <td colspan="1">{{connection.gateway_ip_id}}</td>
              <th>LINK</th>
              <td colspan="1">
                <button mat-raised-button (click)="linkGateway(connection.gateway_ip_id.ID)">リンク</button>
              </td>
            </tr>
            <tr>
              <th>IP</th>
              <td colspan="1">{{getTunnelEndpointIP(connection.gateway_ip_id)}}</td>
              <th>Enable</th>
              <td colspan="1">{{getTunnelEndpointEnable(connection.gateway_ip_id)}}
            </tr>
          </ng-container>
        </table>
        <br>
        <table>
          <tr>
            <th colspan="2">Connection Information</th>
          </tr>
          <tr>
            <th>User Create Date</th>
            <td>{{connection.CreatedAt}}</td>
          </tr>
          <tr>
            <th>User Update Date</th>
            <td>{{connection.UpdatedAt}}</td>
          </tr>
          <tr>
            <th>開通</th>
            <td>{{connection.open}}</td>
          </tr>
          <tr>
            <th>Lock</th>
            <td>{{connection.lock}}</td>
          </tr>
          <tr>
            <th>Connection Type</th>
            <td>{{connection.connection_type}}</td>
          </tr>
          <tr>
            <th>connection Number</th>
            <td>{{connection.connection_number}}</td>
          </tr>
          <tr>
            <th>Network ID</th>
            <td>{{connection.network_id}}</td>
          </tr>
          <tr>
            <th>Group ID</th>
            <td>{{connection.group_id}}</td>
          </tr>
          <tr>
            <th>User ID</th>
            <td>{{connection.user_id}}</td>
          </tr>
          <tr>
            <th>BGP Router ID</th>
            <td>{{connection.router_id}}</td>
          </tr>
          <tr>
            <th>Tunnel Endpoint Router ID</th>
            <td>{{connection.gateway_id}}</td>
          </tr>
          <tr>
            <th>Fee</th>
            <td>{{connection.fee}}</td>
          </tr>
          <tr>
            <th>NOC</th>
            <td>{{connection.noc}}</td>
          </tr>
          <tr>
            <th>NTT</th>
            <td>{{connection.ntt}}</td>
          </tr>
          <tr>
            <th>Term IP</th>
            <td>{{connection.term_ip}}</td>
          </tr>
          <tr>
            <th>Link v4 Our</th>
            <td>{{connection.link_v4_our}}</td>
          </tr>
          <tr>
            <th>Link v4 Your</th>
            <td>{{connection.link_v4_your}}</td>
          </tr>
          <tr>
            <th>Link v6 Our</th>
            <td>{{connection.link_v6_our}}</td>
          </tr>
          <tr>
            <th>Link v6 Your</th>
            <td>{{connection.link_v6_your}}</td>
          </tr>
          <tr>
            <th>Monitor</th>
            <td>{{connection.monitor}}</td>
          </tr>
        </table>
      </mat-tab>
      <mat-tab label="設定">
        <ng-template matTabContent>
          <br>
          <div class="main">
            <p>Updateしたいデータを記入することで、その部分のみが更新されます。</p>
            <form [formGroup]="connectionInput">
              <!--              <mat-form-field appearance="fill">-->
              <!--                <mat-label>Connection Type</mat-label>-->
              <!--                <input matInput type="text" formControlName="connection_type">-->
              <!--              </mat-form-field>-->
              <mat-form-field appearance="fill">
                <mat-label>Connection Type</mat-label>
                <mat-select formControlName="connection_type" required>
                  <ng-container *ngFor="let c of this.connections">
                    <mat-option value="{{c.id}}">{{c.id}}({{c.name}})</mat-option>
                  </ng-container>
                </mat-select>
              </mat-form-field>
              &nbsp;
              <mat-form-field appearance="fill">
                <mat-label>Connection Number</mat-label>
                <input matInput type="number" formControlName="connection_number">
              </mat-form-field>
              <br>
              <mat-form-field appearance="fill">
                <mat-label>NOC</mat-label>
                <input matInput type="text" formControlName="noc">
              </mat-form-field>
              &nbsp;
              <mat-form-field appearance="fill">
                <mat-label>Network ID</mat-label>
                <input matInput type="number" formControlName="network_id">
              </mat-form-field>
              &nbsp;
              <mat-form-field appearance="fill">
                <mat-label>RouterID (BGP)</mat-label>
                <mat-select formControlName="router_id" required>
                  <ng-container *ngFor="let router of this.routers">
                    <mat-option value="{{router.ID}}">{{router.hostname}}</mat-option>
                  </ng-container>
                </mat-select>
              </mat-form-field>
              &nbsp;
              <mat-form-field appearance="fill">
                <mat-label>GatewayID (ctepxxなど)</mat-label>
                <mat-select formControlName="gateway_ip_id" required>
                  <ng-container *ngFor="let gatewayIP of this.gatewayIPs">
                    <mat-option value="{{gatewayIP.ID}}">{{gatewayIP.ip}}</mat-option>
                  </ng-container>
                </mat-select>
              </mat-form-field>
              <br>
              <mat-form-field appearance="fill">
                <mat-label>NTT</mat-label>
                <input matInput type="text" formControlName="ntt">
              </mat-form-field>
              <br>
              <mat-form-field appearance="fill">
                <mat-label>Term IP</mat-label>
                <input matInput type="text" formControlName="term_ip">
              </mat-form-field>
              <br>
              <mat-form-field appearance="fill">
                <mat-label>Link V4 Our</mat-label>
                <input matInput type="text" formControlName="link_v4_our">
              </mat-form-field>
              &nbsp;
              <mat-form-field appearance="fill">
                <mat-label>Link V4 Your</mat-label>
                <input matInput type="text" formControlName="link_v4_your">
              </mat-form-field>
              <br>
              <mat-form-field appearance="fill">
                <mat-label>Link V6 Our</mat-label>
                <input matInput type="text" formControlName="link_v6_our">
              </mat-form-field>
              &nbsp;
              <mat-form-field appearance="fill">
                <mat-label>Link V6 Your</mat-label>
                <input matInput type="text" formControlName="link_v6_your">
              </mat-form-field>
              <br>
              <mat-form-field appearance="fill">
                <mat-label>Fee</mat-label>
                <input matInput type="text" formControlName="fee">
              </mat-form-field>
              <br>
              <mat-form-field appearance="fill">
                <mat-label>Group ID</mat-label>
                <input matInput type="number" formControlName="group_id">
              </mat-form-field>
              &nbsp;
              <mat-form-field appearance="fill">
                <mat-label>User ID</mat-label>
                <input matInput type="number" formControlName="user_id">
              </mat-form-field>
              <br>
              <mat-checkbox formControlName="open">開通済み</mat-checkbox>
              &nbsp;
              <mat-checkbox formControlName="monitor">Monitor</mat-checkbox>
              &nbsp;
              <mat-checkbox formControlName="lock">Lock</mat-checkbox>
              &nbsp;
            </form>
            <br>
            <button mat-stroked-button color="primary" (click)="update()">Update</button>
            <br>
          </div>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </ng-container>
  <br>
</div>
